/************************************
          General
************************************/

* {
  box-sizing: border-box;
  margin: 0;
}

a   {
  text-decoration: none;
}

body{
  font-family: 'Russo One', sans-serif;
  background: black;
}


/************************************
          Main
************************************/

.background-video-container  {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  z-index: -1000;
}

.background-video  {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.center-container  {
  width: 900px;
  margin: auto;
  position: relative;
}

.complete-container {
  width: 100%;
  height: 500px;
  background: black;
  opacity: 0.95;
  position: absolute;
  top: 150px;
  overflow: hidden;
  border-radius: 25px;
  border: solid 4px #83c98b;
  animation-name: rise;
  animation-duration: 4s;
}

@keyframes rise {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
}

.title  {
  font-size: 58px;
  color: #83c98b;
  position: absolute;
  top: 100px;
  left: 436px;
  text-shadow: 2px 1px 2px #fff;
  transition: 0.5s;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 1.7s;
}

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.video-container  {
  width: 400px;
  height: 100%;
  background: #FFF;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.robbie-video {
  width: 880px;
  position: absolute;
  top: 0px;
  left: -219px;
}

.rabbit-video {
  width: 911px;
  position: absolute;
  top: 0px;
  left: -268px;
}

.suggest-button {
  width: 350px;
  height: 45px;
  background: #83c98b;
  position: absolute;
  top: 200px;
  left: 470px;
  border-radius: 5px;
  border: solid 3px #FFF;
  transition: 0.5s;
}

.complete {
  font-size: 40px;
  color: #FFF;
  text-align: center;
  line-height: 45px;
  transition: 0.5s;
}

.suggest-button:hover{
  cursor: pointer;
  transform: rotate(2deg);
}

.suggest-button:hover .complete{
  cursor: pointer;
  transform: scale(1.1);
}

.input-field  {
  width: 350px;
  height: 45px;
  position: absolute;
  top: 265px;
  left: 470px;
  font-size: 30px;
  border: solid 3px #83c98b;
  color: #83c98b;
  border-radius: 5px;
  text-align: center;
  transition: 0.5s;
  font-family: 'Russo One', sans-serif;
}

.word-count {
  font-size: 30px;
  color: #83c98b;
  position: absolute;
  top: 455px;
  left: 70px;
  text-shadow: 2px 1px 2px black;
}

::-webkit-input-placeholder {
  color: #83c98b;
  font-family: 'Russo One', sans-serif;
}

.copy {
  font-size: 12px;
  color: #83c98b;
  position: absolute;
  top: 450px;
  left: 480px;
}

.title-rise {
  top: 14px;
}

.suggest-button-rise  {
  top: 98px;
}

.input-field-rise {
  top: 166px;
}

.suggestion-container {
  width: 350px;
  height: 200px;
  background: white;
  position: absolute;
  top: 233px;
  left: 469px;
  border: solid 3px #83c98b;
  color: #83c98b;
  border-radius: 5px;
  animation-name: fadeIn;
  animation-duration: 2s;
  overflow: scroll;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.hide {
  display: none;
  transition: 3s;
}

/*.suggestion-word-container {
  width: 100%;
  height: 39px;
  border-bottom: solid 1px #83c98b;
  color: #83c98b;
  overflow: hidden;
}*/

/*.word-container {
  overflow: scroll
}*/

/*.like-button  {
  width: 40px;
  height: 100%;
  display: inline-block;
  float: left;
  border-right: solid 1px #83c98b;
}*/

/*.suggestion-word  {
  width: 264px;
  height: 100%;
  display: inline-block;
}

.suggestion{
  font-size: 28px;
  color: #83c98b;
  margin-left: 2px;
}*/

/*.remove-button  {
  width: 40px;
  height: 100%;
  display: inline-block;
  float: right;
  border-left: solid 1px #83c98b;
}*/

/*.trash  {
  height: 30px;
  margin-top: 4px;
  margin-left: 4px;
}*/

.suggestion-item:hover  {
  background: #83c98b;
  color: #fff;
  cursor: pointer;
}
